@CHARSET "UTF-8";

.header .container .slider {
	height:567px;
	width:1000px;
	margin:0px auto;
}
.header {
	/*background-image: url(img/help.png);*/
	background:url("../img/help2.png") top center no-repeat;
	height:700px;
}
.header .container .slider .sli-inner {
	padding-left: 200px;
	padding-top: 50px;
	color: #35230c;
}
.header .container .slider .sli-inner h2 {
	text-align:center;
	margin-bottom:15px;
	margin-left:15px;
	font-size:50px;
}

.header .container .slider .sli-inner h3 {
	text-align:center;
	margin-bottom:15px;
	font-size:20px;
}

.content .banner {
	height:0px;
	background: white;
}
.content .about {
	background-color: white;
}
.content .about .container {
	width:1000px;
	margin:0 auto;
	
}
.content .about .container .about-title {
	color: #35230c;
	text-align:center;
	padding-top:0px;
}
.content .about .about-img {
	overflow:hidden;
	margin-top:5px;
	position: relative;
}
.content .about .about-img .col {
	width:280px;
	position: relative;
	overflow:hidden;
	float:left;
	/*padding:0 20px;*/
	margin: 20px 25px;
	/*width: 200px;*/
}
.content .about .about-img .col-bottom {
	padding: 0px;
	padding-top: 20px;
	width:280px;
	height:350px;
	position:absolute;
	bottom:-300px;
	background-color:rgba(0,0,0,0.4);
	color:#fff;
	font-size: 16px;
	text-align: center;
	transition: all 0.3s ease;
}
#footer {
	height:150px;
	background: skyblue;
	color: blueviolet;
}
.footer .container {
	width:1000px;
	margin:20px auto;
	overflow:hidden;
}